@model Student
@{
    ViewData["Title"] = "AddStudent";
    Layout = "~/Views/Shared/_KusysLayaout.cshtml";
}


<br />
<h3>Yeni Öğrenci Kayıt Sayfası</h3>
<hr />
<br />

<form method="post">
    <div class="mb-3">
        <label>Öğrenci Adı</label>
        <input type="text" asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Öğrenci Soyadı</label>
        <input type="text" asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Birth Date</label>
        <input type="datetime" class="form-control" asp-for="BirthDate">
    </div> 
    <button type="submit" class="btn btn-success">Ekle</button>
</form>

<br />
<a href="/Student/Index/" class="btn btn-primary">Öğrenci Listesi</a>
