@model Student
@{
    ViewData["Title"] = "UpdateStudent";
    Layout = "~/Views/Shared/_KusysLayaout.cshtml";
}

<br />
<h1>Öğrenci Güncelleme Sayfası</h1>
<br />
<hr />
<br />

<form asp-action="UpdateStudent" method="post">
    <input type="hidden" asp-for="StudentId" />
    <div class="mb-3">
        <label>Öğrenci Adı</label>
        <input type="text" asp-for="FirstName" class="form-control">
          
    </div>

    <div class="mb-3">
        <label>Öğrenci Soyadı</label>
        <input type="text" asp-for="LastName" class="form-control">
         
    </div>


    <div class="mb-3">
        <label>Birth Date</label>
        @Html.TextBoxFor(model => model.BirthDate, "{0:dd-MMM-yyyy}", new { @class = "form-control" })
    </div>

    <button class="btn btn-warning">Güncelle</button>
</form>

<br />
<a href="/Student/Index/" class="btn btn-primary">Öğrenci Listesi</a>