@model Course
@{
    ViewData["Title"] = "UpdateCourse";
    Layout = "~/Views/Shared/_KusysLayaout.cshtml";
}
<br />
<h1>Ders Güncelleme Sayfası</h1>
<br /><hr />
<br />

<form method="post">
    <label>Ders Kodu</label>
    <input type="text" asp-for="CourseCode" class="form-control" />
    <br />

    <label>Ders Adı</label>
    <input type="text" asp-for="CourseName" class="form-control" />
    <br />

    <button class="btn btn-warning">Güncelle</button>
</form>